$color-dark: #000;
$color-light: #FFF;

$color-light-faded: darken($color-light, 50%);

$color-base: #0a0a0a;

$color-link: #00ccff;
$color-link-hover: darken($color-link, 12%);

$color-copy: #e8e8e8;
$color-border: #242424;

$color-offdark: #191a1a;
$color-offlight: #484848;